@using System.Web.UI.WebControls
@model IEnumerable<AzureWebAppTest.Models.Poi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Name).ToHtmlString(),
                "Index", new { sortOrder = ViewBag.NameSortParam })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Altitude).ToHtmlString(),
                "Index", new { sortOrder = ViewBag.AltitudeSortParam })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Category).ToHtmlString(),
                "Index", new { sortOrder = ViewBag.CategorySortParam })
        </th>
        <th>
            @Html.ActionLink(
                Html.DisplayNameFor(model => model.CountryCode).ToHtmlString(),
                "Index", new { sortOrder = ViewBag.CountrySortParam })
        </th>
        <th>
            @Html.ActionLink(
                Html.DisplayNameFor(model => model.AddedBy).ToHtmlString(),
                "Index", new { sortOrder = ViewBag.AddedBySortParam })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Altitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
